/*
Written by Joshua Fabian
jfabian@mbta.com
Last updated 25 Jan 2019
*/

body {
    background-color: #022441;
    color: white;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

line:hover {
    stroke-width: 8px;
    fill: rgb(250, 232, 255);
}

div.tooltip {	
    position: absolute;
    text-align: left;
    padding: 4px;
    font: 16px sans-serif;
    background: black;
    border-radius: 8px;
    pointer-events: none;
}

h1 {
    font-family: Roboto, calibri, sans-serif;
    font-size: 42px;
}

h2 {
    font-family: Roboto, calibri, sans-serif;
    font-size: 20px;
    color: white;
    background-color: yellow;
    line-height: 22px;
}

#itemList {
    font-family: Roboto, calibri, sans-serif;
    font-size: 24px;
}


#itemList2 {
    font-family: Roboto, calibri, sans-serif;
    font-size: 24px;
}

#alertsT {
    margin-top: 28px;
    margin-bottom: -14px;
    
    font-family: Roboto, calibri, sans-serif;
    font-size: 24px;
}

#dwellsT {
    margin-top: 28px;
    margin-bottom: -14px;
    
    font-family: Roboto, calibri, sans-serif;
    font-size: 20px;
}

#alerts {
    font-family: Roboto, calibri, sans-serif;
    font-weight: 700px;
    margin-top: 22px;
}

#map {
    width: auto;
    height: calc(100vh - 190px);
}

td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}